{{ define "Content" }}

<section class="m-3">
     <form method="post"
          action="{{ if eq .Budget nil }} /bca/transacciones/presupuesto/ {{else}}/bca/transacciones/presupuesto/{{.Budget.ID}} {{ end }}">
          <div class="flex justify-between items-center">
               <h3 class="text-lg font-semibold">
                    {{ if eq .Budget nil }}
                    Crear
                    {{ else }}
                    Editar
                    {{ end }}
                    Presupuesto
               </h3>
               <div>
                    <button type="submit"
                         class="mt-2 bg-blue-700 text-gray-50 w-fit px-4 py-2 rounded-full text-center algn-self-end hover:bg-blue-400">Grabar</button>
                    <a href="/bca/transacciones/presupuesto/"
                         class="mt-2 bg-red-700 text-gray-50 w-fit px-4 py-2 rounded-full text-center algn-self-end hover:bg-red-400">Cancelar</a>
               </div>
          </div>

          <div class="flex flex-col">
               <div>
                    <label for="quantity">Cantidad</label>
                    <input type="number" name="quantity" id="quantity" placeholder="Cantidad" required
                         value="{{if ne .Budget nil}}{{.Budget.Quantity}}{{end}}"
                         class="border border-slate-600 w-1/2 px-2 py-1 focus:border-slate-300 rounded-lg" />
               </div>
          </div>
     </form>
</section>

{{ end }}
