<div>
     <form hx-post="/api/v1/users" hx-target="#content" hx-swap="innerHTML">
          <div class="flex justify-between items-center">
               <h3 class="text-lg font-semibold">Crear usuario</h3>
               <div>
                    <button type="submit"
                         class="mt-2 bg-blue-700 text-gray-50 w-fit px-4 py-2 rounded-full text-center algn-self-end hover:bg-blue-400">Agregar</button>
                    <button
                         class="mt-2 bg-red-700 text-gray-50 w-fit px-4 py-2 rounded-full text-center algn-self-end hover:bg-red-400"
                         hx-target="#content" hx-get="/api/v1/edit-user">Cancelar</button>
               </div>
          </div>

          <div class="flex flex-col">
               <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email"
                         class="border border-slate-600 w-1/2 px-2 py-1 focus:border-slate-300 rounded-lg" />
               </div>

               <div class="mt-4">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" placeholder="Nombre"
                         class="border border-slate-600 w-1/2 px-2 py-1 focus:border-slate-300 rounded-lg" />

               </div>

               <div class="mt-4">
                    <label for="password">Contrase&ntilde;a</label>
                    <input type="password" name="password" id="password" placeholder="Contrase&ntilde;a"
                         class="border border-slate-600 w-1/2 px-2 py-1 focus:border-slate-300 rounded-lg" />

               </div>

               <div class="mt-4">
                    <label for="role">Rol</label>
                    <select name="role" id="role"
                         class="border border-slate-600 w-1/2 px-2 py-1 focus:border-slate-300 rounded-lg" />
                    <option value="">--- Seleccione un rol ---</option>
                    <option value="a">admin</option>
                    <option value="u">user</option>
                    </select>
               </div>
          </div>
     </form>
</div>
