<div>
     <form hx-patch="/api/v1/users/{{.Id}}" hx-swap="innerHTML" hx-target="#content">
          <div class="flex justify-between items-center">
               <h3 class="text-lg font-semibold">Cambiar Contrase&ntilde;a</h3>
               <div>
                    <button type="submit"
                         class="mt-2 bg-blue-700 text-gray-50 w-fit px-4 py-2 rounded-full text-center algn-self-end hover:bg-blue-400">Grabar</button>
                    <button type="reset"
                         class="mt-2 bg-red-700 text-gray-50 w-fit px-4 py-2 rounded-full text-center algn-self-end hover:bg-red-400">Cancelar</button>
               </div>
          </div>

          <div class="flex flex-col mt-4">
               <div>
                    <label for="old">Contrase&ntilde;a anterior</label>
                    <input type="password" id="old" name="old"
                         class="border border-slate-600 w-1/2 px-2 py-1 focus:border-slate-300 rounded-lg" />
                    <p id="error" class="invisible text-red-700 text-xs">Contrase&ntilde;a inv&aacute;lida</p>
               </div>

               <div class="mt-4">
                    <label for="new">Contrase&ntilde;a nueva</label>
                    <input type="password" id="new" name="new"
                         class="border border-slate-600 w-1/2 px-2 py-1 focus:border-slate-300 rounded-lg" />
               </div>
          </div>
     </form>
</div>
