{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>
          {{if ne .Title nil}}
          {{.Title}}
          {{else}}
          SCP
          {{end}}
     </title>
     <link href="/css/output.css" rel="stylesheet">
     <script src="/css/htmx.min.js"></script>
</head>

<body>
     <div class="grid grid-cols-12">
          {{block "nav" .}}{{end}}
          <div class="col-span-10">
               {{block "title" .}}{{end}}
               {{block "Content" .}}{{end}}
          </div>
     </div>

</body>

</html>
{{ end }}
